pooltool/config/settings.local

sandbox/collection.json*
sandbox/serialize/serialized_shot*
sandbox/offscreen/offscreen_out
sandbox/offscreen/timing/*
sandbox/offscreen/timing_results/*
cachegrind*

.idea/

*.blend1

.DS_Store
default.profraw

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
install-log.txt
errors.txt
short_angle_01_probability.parquet
short_angle_01_results.parquet
.vscode/launch.json
BilliardGamesData/20210704_2_Ersin_Cemal.json
BilliardGamesData/20210704_Ersin_Cemal.json
BilliardGamesData/20210704_test.json
BilliardGamesData/20210704_Training_Ersin_Cemal.json
BilliardGamesData/20210706_2_Ersin_Cemal.json
BilliardGamesData/20210706_Ersin_Cemal.json
BilliardGamesData/20210706_Training_Ersin_Cemal.json
BilliardGamesData/20210707_Ersin_Cemal.json
BilliardGamesData/20210707_Training_Ersin_Cemal.json
BilliardGamesData/20210709_2_Ersin_Cemal.json
BilliardGamesData/20210709_Ersin_Cemal.json
BilliardGamesData/20210711_2_Training_Ersin_Cemal.json
BilliardGamesData/20210711_Ersin_Cemal.json
BilliardGamesData/20210711_Training_Ersin_Cemal.json
BilliardGamesData/20210713_2_Ersin_Cemal.json
BilliardGamesData/20210713_Ersin_Cemal.json
BilliardGamesData/20210715_Ersin_Cemal.json
BilliardGamesData/20210716_Ersin_Cemal.json
BilliardGamesData/20210718_2_Training_Ersin_Cemal.json
BilliardGamesData/20210718_3_Training_Ersin_Cemal.json
BilliardGamesData/20210718_Ersin_Cemal.json
BilliardGamesData/20210718_Training_Ersin_Cemal.json
BilliardGamesData/20210721_Ersin_Cemal.json
BilliardGamesData/20210722_Training_Ersin.json
BilliardGamesData/20210725_2_Training_Ersin.json
BilliardGamesData/20210725_Training_Ersin.json
BilliardGamesData/20210727_Ersin_Cemal.json
BilliardGamesData/20210801_Ersin_Cemal.json
BilliardGamesData/20210803_2_Ersin_Cemal.json
BilliardGamesData/20210803_Ersin_Cemal.json
BilliardGamesData/20210803_Training_Ersin.json
BilliardGamesData/20210807_Ersin_Cemal.json
BilliardGamesData/20210815_Ersin_Cemal.json
BilliardGamesData/20210817_Ersin_Cemal.json
BilliardGamesData/20210819_Ersin_Cemal.json
BilliardGamesData/20210823_2_Ersin_Cemal.json
BilliardGamesData/20210823_Ersin_Cemal.json
BilliardGamesData/20220414_Ersin_Cemal.json
BilliardGamesData/20220417_Ersin_Cemal.json
BilliardGamesData/20220526_Ersin_Karsten.json
BilliardGamesData/20220601_Ersin_Cemal.json
BilliardGamesData/20220601_Training_Ersin.json
BilliardGamesData/20221224_2_Ersin_Cemal.json
BilliardGamesData/20221224_3_Ersin_Cemal.json
BilliardGamesData/20221224_4_Ersin_Cemal.json
BilliardGamesData/20221224_Ersin_Cemal.json
BilliardGamesData/20221225_2_Ersin_Cemal.json
BilliardGamesData/20221225_Ersin_Cemal.json
BilliardGamesData/20221227_Ersin_Cemal.json
BilliardGamesData/20221228_Ersin_Cemal.json
BilliardGamesData/20221229_Ersin_Cemal.json
Scripts/06_ShortAngle/short_angle_01_probability.parquet
Scripts/06_ShortAngle/short_angle_01_results.parquet
Scripts/07_ReadShots/all_shots.pkl
Scripts/07_ReadShots/billiard_shots_20250217_053354.pkl
Scripts/07_ReadShots/billiard_shots_20250217_054032.pkl
Scripts/07_ReadShots/billiard_shots_20250217_203419.pkl
Scripts/07_ReadShots/billiard_shots_new.pkl
Scripts/08_parameter_identification/shots.pkl
Scripts/06_ShortAngle/short_angle_01_results.parquet
Scripts/06_ShortAngle/short_angle_01_probability.parquet
Scripts/06_ShortAngle/short_angle_01_results.parquet
.vscode/launch.json
.vscode/settings.json

